body {
    font-family: "Noto Sans JP", serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: calc(16px + env(safe-area-inset-bottom));  
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

h4 {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

.code {
    padding: 2px 4px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 4px;
    margin: 0 2px;
}

.virtual-keyboard-wrapper {
    overflow-x: auto;
    border: 1px solid gray;
    position: relative;
    background: black;
}

.virtual-keyboard {
    overflow: hidden;
    background: black;
    position: relative;
    box-sizing: content-box;
    touch-action: none;
    user-select: none;

    > * {
        pointer-events: none;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: -20px;
        right: 0;
        height: 20px;
        z-index: 2;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }

    .white-key,
    .black-key {
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
    }

    .white-key {
        --w: 0px;
        z-index: 0;


        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: calc(var(--w) * -1);
            right: 1px; // 縦線を出すために空けます
            bottom: 3px;
            background: linear-gradient(to bottom, rgba(240, 240, 240, 1), rgba(250, 250, 250, 1));
            border-bottom-left-radius: calc(var(--w) * 0.08);
            border-bottom-right-radius: calc(var(--w) * 0.08);
            box-shadow: inset 0 0 calc(var(--w) * 0.08) rgba(0, 0, 0, 0.5);
        }

        &::after {
            content: attr(data-text);
            color: rgba(0, 0, 0);
            opacity: 0.3;
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 12px;
            font-weight: 800;
        }

        &.selected {
            &::before {
                background: linear-gradient(to bottom, rgba(200, 200, 200, 1), rgba(210, 210, 210, 1));
                bottom: 2px;
            }
        }
    }

    .black-key {
        --w: 0px;
        z-index: 1;
        border: 1px solid black;
        border-top-width: 0;
        background: linear-gradient(to right, black 0%, white 40%, white 60%, black 100%);
        border-bottom-left-radius: calc(var(--w) * 0.12);
        border-bottom-right-radius: calc(var(--w) * 0.12);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.5);
        background-clip: content-box;

        &::before {
            content: "";
            box-sizing: border-box;
            width: 75%;
            flex-grow: 1;
            border: 1px solid black;
            border-bottom-left-radius: calc(var(--w) * 0.1);
            border-bottom-right-radius: calc(var(--w) * 0.1);
            background: linear-gradient(to bottom, rgba(61, 70, 74, 1), rgba(83, 87, 80, 1));
            z-index: 1;
        }

        &::after {
            content: "";
            background: yellow;
            height: 13%;
            width: 100%;
            clip-path: polygon(12% 0%, 88% 0%, 95% 100%, 5% 100%);
            margin-top: -1px;
            background: linear-gradient(to bottom, rgba(20, 20, 20, 1), rgba(60, 60, 60, 1));
        }

        &.selected {
            box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.5);

            &::before {
                background: linear-gradient(to bottom, rgba(51, 60, 64, 1), rgba(63, 67, 70, 1));
            }

            &::after {
                height: 8%;
            }
        }
    }
}

.knob {
    --body-inset: 14px;
    --angle: 0deg; // +で時計回り
    position: relative;
    width: fit-content;

    > * {
        pointer-events: none;
    }

    > svg {
        display: block;
        //position: absolute;
    }

    > div {
        content: "";
        position: absolute;
        left: var(--body-inset);
        top: var(--body-inset);
        right: var(--body-inset);
        bottom: var(--body-inset);
        border: 1px solid black;
        background: linear-gradient(to bottom, white, black);
        border-radius: 50%;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
        
        &::before {
            content: "";
            position: absolute;
            left: 1px;
            top: 1px;
            right: 1px;
            bottom: 1px;
            border-radius: 50%;
            background: linear-gradient(to bottom, rgba(48, 48, 48, 0.5), rgba(15, 15, 15, 0.5));
        }

        > div {
            position: absolute;
            left: 4px;
            top: 4px;
            right: 4px;
            bottom: 4px;
            background: transparent;
            margin: 0 auto;
            will-change: transform;
            transform: rotate(var(--angle));

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: 2px;
                height: 35%;
                background: white;
                margin: 0 auto;
                border-radius: 2px;
            }
        }
    }
}

.knob-with-input {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;

    h5 {
        font-weight: 400;
        font-size: 12px;
        margin: 0 0 0% 0;
    }

    input {
        margin-top: -4px;
        min-width: 0;
        max-width: 100%;
        box-sizing: border-box;
        font-size: 12px;
        text-align: center;
        border: none;
        padding: 2px;
        background: transparent;
        
        &::-webkit-inner-spin-button {
            appearance: none;
        }
    }
}