body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: "Noto Sans JP", serif;
    font-size: 16px;
    font-weight: 400;
}

main {
    position: absolute;
    inset: 0;
    background: linear-gradient(220.55deg, #FFF6EB 0%, #DFD1C5 100%);
    overflow: auto;
    padding-top: 16px;
    padding-bottom: calc(16px + env(safe-area-inset-bottom));
}

.synth-body {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: 1px solid gray;
    border-radius: 8px;
    background: black;
    overflow: hidden;
    box-shadow: 0 16px 40px 8px rgba(0, 0, 0, 0.5);

    :not(input) {
        user-select: none;
    }
}

.header-panel {
    background: linear-gradient(to bottom, #727272, #3f3f3f);
    color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    padding: 0 4px 0 16px;

    .title {
        font-size: 24px;
        font-weight: 900;
    }

    .align-right {
        flex: 1 1 auto;
    }

    .sp {
        width: 16px;
    }

    .copyright {
        font-size: 14px;
        font-weight: 700;

        > a {
            color: inherit;
        }
    }

    .knob-with-input {

        h5,
        input {
            color: inherit;
        }
    }
}

.spectrum-analyzer {
    border: 1px solid rgb(50, 50, 50);
    margin-right: 24px;
    background: rgb(70, 70, 70);
    border-radius: 2px;
    overflow: hidden;
}

.operator-panel {
    border-top: 1px solid rgb(167, 167, 167);
    background: #e6e6e6;
    display: flex;
    padding: 0 4px 0 4px;
    align-items: center;

    > * {
        flex-shrink: 0;
    }

    > .title {
        font-size: 16px;
        font-weight: 700;
        color: #888;
        padding: 0 8px 0 0;
    }

    > .sp {
        width: 16px;
    }
}

.keyboard-panel {
    border-top: 1px solid rgb(167, 167, 167);
    background: #e6e6e6;
    display: flex;
    padding: 0 4px 0 4px;
    align-items: center;

    > * {
        flex-shrink: 0;
    }

    > .grid {
        display: grid;
        justify-items: center;
        grid-template-columns: auto auto;
    }

    > .key-v-stack {
        padding: 1px 1px 1px 3px;
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        width: 0;

        > .virtual-keyboard-wrapper {
            border: 1px solid rgb(167, 167, 167);
            background: black;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

.preset-selector {
    box-sizing: border-box;
    width: 200px;
    margin-left: 64px;
    padding: 4px 4px 4px 8px;
    appearance: none;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 2px;
    color: #fff;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    background: rgb(70, 70, 70);
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.midi-in-selector {
    box-sizing: border-box;
    width: 200px;
    padding: 1px 1px 1px 4px;
    appearance: none;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 2px;
    color: #444;
    background: #eee;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

option {
    font-size: 14px;
}

.virtual-keyboard {
    overflow: hidden;
    background: black;
    position: relative;
    box-sizing: content-box;
    touch-action: none;
    user-select: none;
    cursor: pointer;

    > * {
        pointer-events: none;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: -20px;
        right: 0;
        height: 20px;
        z-index: 2;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }

    .white-key,
    .black-key {
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
    }

    .white-key {
        --w: 0px;
        z-index: 0;


        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: calc(var(--w) * -1);
            right: 1px; // 縦線を出すために空けます
            bottom: 2px;
            background: linear-gradient(to bottom, rgba(240, 240, 240, 1), rgba(250, 250, 250, 1));
            border-bottom-left-radius: calc(var(--w) * 0.08);
            border-bottom-right-radius: calc(var(--w) * 0.08);
            box-shadow: inset 0 0 calc(var(--w) * 0.08) rgba(0, 0, 0, 0.5);
        }

        // 文字
        &::after {
            content: attr(data-text);
            color: rgba(0, 0, 0);
            opacity: 0.3;
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 12px;
            font-weight: 800;
        }

        &.selected {
            &::before {
                background: linear-gradient(to bottom, rgba(200, 200, 200, 1), rgba(210, 210, 210, 1));
                bottom: 1px;
            }

            &::after {
                bottom: 9px;
            }
        }
    }

    .black-key {
        --w: 0px;
        z-index: 1;
        border: 1px solid black;
        border-top-width: 0;
        background: linear-gradient(to right, black 0%, white 40%, white 60%, black 100%);
        border-bottom-left-radius: calc(var(--w) * 0.12);
        border-bottom-right-radius: calc(var(--w) * 0.12);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.5);
        background-clip: content-box;

        &::before {
            content: "";
            box-sizing: border-box;
            width: 75%;
            flex-grow: 1;
            border: 1px solid black;
            border-bottom-left-radius: calc(var(--w) * 0.1);
            border-bottom-right-radius: calc(var(--w) * 0.1);
            background: linear-gradient(to bottom, rgba(61, 70, 74, 1), rgba(83, 87, 80, 1));
            z-index: 1;
        }

        &::after {
            content: "";
            background: yellow;
            height: 13%;
            width: 100%;
            clip-path: polygon(12% 0%, 88% 0%, 95% 100%, 5% 100%);
            margin-top: -1px;
            margin-bottom: -1px;
            background: linear-gradient(to bottom, rgba(20, 20, 20, 1), rgba(60, 60, 60, 1));
        }

        &.selected {
            box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.5);

            &::before {
                background: linear-gradient(to bottom, rgba(51, 60, 64, 1), rgba(63, 67, 70, 1));
            }

            &::after {
                height: 8%;
            }
        }
    }
}

.knob {
    --body-inset: 14px;
    --angle: 0deg; // +で時計回り
    position: relative;
    width: fit-content;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    > * {
        pointer-events: none;
    }

    > svg {
        display: block;
    }

    > div {
        content: "";
        position: absolute;
        left: var(--body-inset);
        top: var(--body-inset);
        right: var(--body-inset);
        bottom: var(--body-inset);
        border: 1px solid black;
        background: linear-gradient(to bottom, rgba(80, 80, 80, 1), rgba(0, 0, 0, 1));
        border-radius: 50%;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5), inset 0 1px 2px -1px rgba(255, 255, 255, 1);

        > div {
            position: absolute;
            inset: 4px;
            background: transparent;
            margin: 0 auto;
            will-change: transform;
            transform: rotate(var(--angle));

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                width: 2px;
                height: 35%;
                background: white;
                margin: 0 auto;
                border-radius: 2px;
            }
        }
    }
}

.knob-with-input {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;

    h5 {
        font-weight: 600;
        color: #444;
        font-size: 12px;
        margin: 0 0 0% 0;
        white-space: nowrap;
    }

    input {
        margin-top: -4px;
        min-width: 0;
        max-width: 100%;
        box-sizing: border-box;
        font-size: 12px;
        text-align: center;
        border: none;
        padding: 2px;
        background: transparent;
        border-radius: 2px;
        color: #444;

        &::-webkit-inner-spin-button {
            appearance: none;
        }

        &:focus {
            outline: 2px solid #4088D9;
        }
    }
}